<!doctype html>
<html>
  <head>
    <title>SpamShield AI</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="box">
      <h1>SpamShield AI</h1>

      <form method="POST">
        <textarea name="message" placeholder="Enter email message..." required>
{{ message }}</textarea
        >
        <br />

        <button type="submit">Check</button>
        <button type="button" onclick="resetForm()">Reset</button>
      </form>

      <h2>{{ result }}</h2>
    </div>

    <script>
      function resetForm() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
